:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header-title{
  color: white;
    font-size:3vw;
  }
.header-item {
    align-content: center;
}
h3 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
}
div#root
 {
    width: 100%;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
.header-item a:hover {
  color: white;
}

.header-grid {
  
    display: grid;
height: auto;
    align-content: center;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    background-color: #b2495a;
}
.header-item h3
 {
     margin-block-start: 0 !important;
    margin-block-end: 0 !important;
        font-size: 2.8vw ;
}
@media only screen and (min-width: 1000px) {
.header-item h3
 {
     margin-block-start: 0 !important;
    margin-block-end: 0 !important;
        font-size: 2vw ;
}
}
@media only screen and (max-width: 1000px) {
.header-grid{
    
      padding: .7vw;}
}
@media only screen and (max-width: 700px) {
  
  .header-grid{
    
      
    align-content: center;
  }
  .header-title a{
    color: white;
  }
  .header-title{
    font-size:6vw !important;
  }
 .header-item h3
 {
     margin-block-start: 0 !important;
    margin-block-end: 0 !important;
        font-size: 3vw;
}
}
.header-item a
 {
    color: white;
}
body {
  margin: 0;
  place-items: center;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: white;
  }
  button {
    background-color: #f9f9f9;
  }
}